*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    background-color: #11100f;
}

.navbar{
    height: 60px;
    background-color: #1b1a19;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border: 1.5px solid rgba(125, 123, 123, 0.482);
    border-top: none;
}

.navbar-todo{
    font-weight: 500;
}

.navbar-empty{
    width: 850px;
}

.navbar-options a{
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: #1b1a19;
}

.navbar-options :hover{
    background-color: rgb(74, 75, 75);
    border-radius: 4px;
}

.task-input{
    color: white;
    width: 600px;
    height: 35px;
    font-size: 1rem;
    /* margin-top: 20px; */
    margin-left: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
}

.add-task{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.add-task :hover{
    border: 1px solid rgb(255, 255, 255);
}

.add-button{
    background-color: green;
    height: 38.5px;
    border: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
    color: white;
    width: 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: darkgreen;
}

.add-button:active {
    /* background-color: limegreen; */
    transform: scale(0.98);
}

.task-items{
    color: white;
    /* background-color: white; */
    align-items: center;
    /* justify-content: space-evenly; */
}


.completed-items{
    color: white;
    /* background-color: white; */
    align-items: center;
}

ul li{
    background-color: #424141;
    margin-left: 10px;
    list-style: none;
}

ul div{
    display: flex;
    padding: 10px;
    background-color: #424141;
    /* margin-right: 10px; */
    margin-top: 10px;
    width: 80%;
    align-items: center;
    /* justify-content: space-evenly; */
    /* margin-left: 70px; */
}

ul div span{
    background-color: #424141;
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
}

.important span{
    background: transparent;
}

.star-clicked {
    color: gold !important;
  }
  

ul div button{
    color: white;
    background-color: #424141;
    cursor: pointer;
    margin-left: 20px;
}


